In [1]:
import pandas as pd 
import numpy as np
import yfinance as yf

In [2]:
symbols = []

with open('sp500-symbol-list.txt') as f:
    for line in f:
        symbols.append(line)
        
symb = []

for i in symbols:
    symb.append(i[:-1])

In [4]:
#symb

In [19]:
cryptocurrencies = pd.read_excel('crypto.xlsx')
cryptocurrencies = list(cryptocurrencies['Symbol'])

project = ['ADA-USD','ATOM-USD','AVAX-USD','AXS-USD','BTC-USD','ETH-USD','LINK-USD','LUNA1-USD','MATIC-USD','SOL-USD']

for i in project:
    if i not in cryptocurrencies:
        cryptocurrencies.append(i)

In [ ]:
cryptocurrencies

In [11]:
sp500 = yf.download(cryptocurrencies[1],start = '2022-05-16', end = '2022-05-17')

[*********************100%***********************]  1 of 1 completed

In [12]:
sp500

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-05-15,2056.183105,2147.194336,2008.162720,2145.706787,2145.706787,14846088335
2022-05-16,2145.836914,2145.836914,1988.811768,2022.725952,2022.725952,21459552191